#container{
	display: inline-block;
	border: thin solid rgb(230,230,230);
	width: 352px;
	height: 352px;
	position: absolute;
	top: 50px;
	left: 300px;
}

div.pixel{
	border-style: solid;
	border-width: thin;
	border-color: rgb(230,230,230);
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;
}

div.row{
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}


.painted{
	background-color: rgba(255, 0, 0, 1);
	border-color: rgba(255,0,0,1)!important;
}